*
!*.*
!*/
!Makefile
!LICENSE

*.o
*.ao
*.a
*.so
*.d

*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
.vscode
.ccls-cache
.DS_Store
compile_commands.json
.clang_complete

build
build-gen
